img {
    width: 150px;
    height: 200px;
}
.laterales{
    max-width: 1050px;
    margin: auto;
    padding: 20px;
}


.contenedor-nav{
    background-color: #1f3c88 ;
    width: 100%;
    display: flex;
    padding: 10px 0;
}
.menu{
    display: flex;
    background-color: #d9d9d9;
    list-style: none;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
}

.menu > li{
    position: relative;
    
}

.menu >li >a{
    display: block;
    color:#1f3c88 ;
    padding: 15px 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
    width: 100%;
    
}

.menu li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #EBF4F6;
    color:#1f3c88;
    list-style: none;
    padding: 5px;
    min-width: 180px;
}

.menu li ul li a {
    padding: 10px 20px;
    color: black;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #898989;
}

.menu li:hover>ul{
    display: block;
}
.menu li ul li a:hover{
    background-color: #d2d2d2;
}
table{

    
    border-block-color: red;
}
